{{#each pets}}
<div>
    <h2>{{name}} ({{species}})</h2>

    <p>Age: {{calculateAge birthYear}}</p>

    {{#if favFoods}}
    <h4>Favorite Foods</h4>
    <ul>
        {{#each favFoods}}
        <li>{{{this}}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/each}}
<div>
    {{> _partial}}
</div>
